* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: #546a76;
  color: #b4ceb3;
}

a {
  text-decoration: none;
  color: #b4ceb3;
  transition: 0.5s;
}

a:hover {
  color: #e6efe6;
}
